$current-year: 2017;

$main-color: hsl(174,100%,29%);
$main-color-dark: desaturate(darken($main-color, 1%), 30%);
$main-color-darker: desaturate(darken($main-color, 3%), 50%);
$main-color-darkest: desaturate(darken($main-color, 5%), 58%);
$main-color-light: desaturate(lighten($main-color, 31%), 55%);
$main-color-lighter: desaturate(lighten($main-color, 51%), 45%);
$main-color-lightest: desaturate(lighten($main-color, 63%), 35%);

$secondary-color: hsl(28,90%,52%);
$secondary-color-alpha: transparentize($secondary-color, 0.4);

$neutral-color: #ecf0f1;
$neutral-color-dark: #b2b4b5;