@import "main-variables";

$fa-font-path:              "../font/fa";

$text-color:            	#444;
$font-family-base:          'Roboto',sans-serif;
$font-size-base:            14px;
$link-color:                $main-color;
$headings-font-family:      Roboto,Helvetica Neue,Helvetica;

$btn-primary-color:         #fff;
$btn-primary-bg:            $main-color;
$btn-primary-border:        $main-color-dark;

$input-border-focus:        $main-color;
$input-color-placeholder:   #ccc;